.parent_carte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.parent_carte .carte {
    width: 45%;
    min-width: 300px;
    margin: 20px;
    padding: 15px;
    border-right: 1px solid #2B4162;
    font-family: elegance;    
    
}

.parent_carte .infos_station {
    width: 45%;
    margin: 20px;
}